AIRFLOW_UID=50000

ETL_POSTGRES_USER=<your_etl_postgres_user>
ETL_POSTGRES_PASSWORD=<your_etl_postgres_password>
ML_POSTGRES_USER=<your_ml_postgres_user>
ML_POSTGRES_PASSWORD=<your_ml_postgres_password>
APP_POSTGRES_USER=<your_app_postgres_user>
APP_POSTGRES_PASSWORD=<your_app_postgres_password>